#debug-dashboard h2 span
{
  border-bottom: 1px dotted gray;
  cursor: pointer;
}

#debug-dashboard .opener .content
{
  display: none;
}

pre
{
  font-family: Consolas, Monaco, Courier, monospace;
  font-size: 12pt;
  margin-top: 0;
  margin-bottom: 0;
}

pre a
{
  text-decoration: none;
  color: black;
}
pre a:hover
{
  background-color: aquamarine;
}

.code,
a.path
{
  font-family: Consolas, Monaco, Courier, monospace;
  font-size: 12pt;
  text-decoration: none;
}

a.path:hover
{
  background-color: aquamarine;
}


.dashboard-link
{
  text-align: right;
}

h2 .inheritance-chain
{
  font-size: 14px;
}

.opener .content
{
  display: none;
}

.opener .trigger span
{
  cursor: pointer;
  border-bottom: 1px dotted black;
}

dl dt
{
  font-family: Consolas, Monaco, Courier, monospace;
}

h4
{
  margin-bottom: 4px;
}

h4.level
{
  margin-top: 2px;
}

h3
{
  margin-bottom: 0;
}


h5
{
  margin-top: 4px;
  margin-bottom: 4px;
}

pre .lva-highlight
{
  background-color: #ffc0cb;
}

.dashboard .row
{
  overflow: hidden;
}

.dashboard .column
{
  float: left;

}

.dashboard .column.first
{
  width: 350px;
}

.dashboard h2
{
  font-size: 14pt;
}